<row>
  <column>
    <%= if not @lamp_is_on do %>
      <img src="/images/lamp-off.svg" style="width:50%" alt="A lamp bulb"/>
    <% else %>
      <img src="/images/lamp-on.svg" style="width:50%" alt="A lamp bulb"/>
    <% end %>
  </column>
  <column>
    <button phx-click="switch">Switch</button>
    <button phx-click="alarm">Alarm</button>
  </column>
</row>

<hr class="solid">
<div>
  Icons made by
  <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
  from
  <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
</div>